/* All Pages */
#main-header{
	float: left;
	margin-top: 45px;
	font-family: serif;
	font-size: 36px;
	color: #fff;
}
body{
  background: rgb(92,86,210);
  background: linear-gradient(180deg, rgba(92,86,210,1) 27%, rgba(0,212,255,1) 77%, rgba(9,9,121,1) 100%);
}
img{
  height: 300px;
}

/* Nav Menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul {
    list-style-type: none;
}

/* Nav Links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
  list-style-type: none;
}

/* Background Mouse Over */
.navbar a:hover {
  background-color: #000;
}
video{
  align-self:center;
  max-width:100%;
  height:auto;
  border-radius: 5%;
}

/* Resume */
.underline {
  text-decoration: underline;
}
.cursive {
	font-family: cursive;
}
/* Index */
.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}

/* Hobbies */
.hobbies {
	color: white;
}
