/* All Pages */
#main-header{
	float: left;
	margin-top: 45px;
	font-family: 'Georgia', Times, serif;
	font-size: 36px;
	color: #fff;
}
body{
  background: rgb(118,113,210);
  background: radial-gradient(circle, rgba(118,113,210,1) 12%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 77%);
}
img {
  height: 300px;
}

/* Nav Menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Nav Links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Background Mouse Over */
.navbar a:hover {
  background-color: #000;
}
video{
  align-self:center;
  max-width:100%;
  height:auto;
  border-radius: 5%;
}

h1  {
  font-variant: small-caps;
}
/* Resume */

/* Index */

/* Hobbies */